  <nav>
    <ul>
      <li>
        <a routerLink="" data-toggle="tooltip" title="Implement rectangle" (click)="reload()">
          <i class="material-icons">
            crop_5_4
            </i>
        </a>
      </li>
      <li>
          <a routerLink="circle" data-toggle="tooltip" title="Implement circle" (click)="reload()">
            <i class="material-icons"> radio_button_unchecked</i>
          </a>
      </li>
      <li>
        <a routerLink="freehand" data-toggle="tooltip" title="Free hand draving tool" (click)="reload()">
          <i class="material-icons">
            create
            </i>
        </a>
    </li>
    <li>
      <a routerLink="bezier" data-toggle="tooltip" title="Bezier tool" (click)="reload()">
          <i class="material-icons">
            format_bold
          </i>
      </a>
  </li>
  <li>
    <a routerLink="closeandsimplypolygon" data-toggle="tooltip" title="Close and simplify polygon" (click)="reload()">
        <i class="material-icons">
          share
        </i>
    </a>
  </li>
  <li>
    <a routerLink="moveaddsegpolygon" data-toggle="tooltip" title="Move polygon and add additional segment points" (click)="reload()">
        <i class="material-icons">
          flip_to_front
        </i>
    </a>
 </li>
 <li>
  <a routerLink="editpolygon" data-toggle="tooltip" title="Edit polygon" (click)="reload()">
      <i class="material-icons">
        build
      </i>
  </a> 
  </li>
  <li>
  <a routerLink="layers" data-toggle="tooltip" title="Set polygons with A-B principle" (click)="reload()">
    <i class="material-icons">
      layers
    </i>
  </a>
 </li>
 <li>
  <a routerLink="import" data-toggle="tooltip" title="Import last saved canvas" (click)="reload()">
    <i class="material-icons">
      unarchive
    </i>
  </a>
 </li>
 <li>
  
    </ul>
  </nav>